body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  width: 100%;
}
header {
  text-align: center;
  justify-content: center;
  background: #333;
  color: #fff;
  padding: 1rem;
}
header nav a {
  color: #fff;
  margin: 2rem;
  text-decoration: none;
}
header nav a:hover {
  text-decoration: underline;
}
main {
  padding: 2rem;
  max-width: 1200px;
  margin: auto;
}
footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
  position: relative;
  bottom: 0;
  width: 100%;
}
.cta-buttons a {
  display: inline-block;
  background: #007bff;
  color: #fff;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  text-decoration: none;
  border-radius: 4px;
}
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}
.project-card {
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 5px;
}
img {
  width: 100%;
  height: 180px;          /* Alçada fixa per uniformitat */
  object-fit: scale-down;      /* Retalla la imatge per cobrir l'espai sense deformar */
  border-radius: 8px;  /* Cantonades arrodonides només a dalt */
}
input, select {
  padding: 0.5rem;
  margin: 0.5rem 0;
  font-size: 1rem;
}
pre {
  background: #f4f4f4;
  padding: 1rem;
  overflow-x: auto;
}
dl dt {
  font-weight: bold;
  margin-top: 1rem;
}
dl dd {
  margin-left: 1rem;
}